/* .App {
  padding: 0px 20px;
} */
.lists {
  display: flex;
}
/* .data {
  display: flex; 
  margin: 10px 20px;
} */
.cursor-pointer {
  cursor: pointer;
}
button {
  background-color: blue;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}
.button:hover {
  border: 1px solid black;
}
.dashboardView {
  width: 95vw;
  margin-top: 30px;
}
.cardImageHeight {
  height: 120px;
}
